# Default ignored files
/shelf/
/workspace.xml

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# Maven files
target/
build/